.main{
    display: felx;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    padding-top: 5%;
    overflow: hidden;
    border-radius: 9px;
    border: 1px solid #cccfd2;
    margin-top: 20px;
}

.rowBuscador{
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.colum1{
    grid-column: 1/5;
    width: 100%;
    padding-left: 15%;
}

.colum2{
    grid-column: 7/10;
    width: 100%;
    padding-left: 15%;
}