<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="limpiar()">
        <mat-icon></mat-icon>
        <span>Netejar</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
    <span>¿En que puc ajudar?</span>
  </mat-toolbar>

<section class="main" [formGroup]="formVoluntariosLimpieza">
<div class="rowBuscador">
  <div class="colum5">
    <mat-form-field>
      <mat-label >Nombre</mat-label>
      <input matInput type="text" formControlName="getNombre">
    </mat-form-field>
  </div>
  <div class="colum2">
    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="getApellidos">
    </mat-form-field>
  </div>
  <div class="colum3">
    <mat-form-field>
      <mat-label>Telefono</mat-label>
      <input matInput type="text" formControlName="getTelefono">
    </mat-form-field>
  </div>
  <div class="colum4">
    <mat-form-field>
      <mat-label>Coche</mat-label>
      <input matInput type="text" formControlName="getCoche">
    </mat-form-field>
  </div>
</div>
<div>
  <button mat-raised-button color="primary" (click)="aceptar()">
Aceptar
  </button>
</div>
</section>